!!! XHTML
%html
  %head
    %title= "ShellForce REST Explorer"
    %meta{:'http-equiv' => 'Content-Laugage', :content => 'UTF-8'}
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}      
    %link{:rel => 'stylesheet', :href => "css/master.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "css/restexplorer.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "css/simpletree.css", :type => 'text/css'}
      :javascript
        var shellforce_api = "#{shellforce_api}"
        var shellforce_current_path = "#{shellforce_current_path}"
    %script{:type => 'text/javascript', :src => "js/jquery-1.6.4.min.js"}
    %script{:type => 'text/javascript', :src => "js/simpletreemenu.js"}
    %script{:type => 'text/javascript', :src => "js/shellforce.js"}
  %body
    %div{:id => 'mainBlock'}
      %table{:width => '100%', :border => '0'}
        %tr
          %td{:id => 'pageTitle'}
            ShellForce REST Explorer - a clone of REST Explorer in |
            %a{:href => url('https://workbench.developerforce.com/about.php')} Workbench
      %div{:class => 'displayErrors'}
      %div{:id => 'subBlock'}
        %label
          %input{:type => 'radio', :name => 'requestMethod', :value => 'GET', :checked => 'checked'}GET
        %label
          %input{:type => 'radio', :name => 'requestMethod', :value => 'POST'}POST
        %label
          %input{:type => 'radio', :name => 'requestMethod', :value => 'PATCH'}PATCH
        %label
          %input{:type => 'radio', :name => 'requestMethod', :value => 'DELETE'}DELETE
        %label
          %input{:type => 'radio', :name => 'requestMethod', :value => 'QUERY'}QUERY
        %label
          %input{:type => 'radio', :name => 'requestMethod', :value => 'SEARCH'}SEARCH
        %input{:id => 'resetButton', :type => 'button', :value => 'Reset'}
        %span{:id => 'waitingNotice', :style => 'display: none;'}
          %img{:src => 'images/wait16trans.gif'} Processing...
        %p
          %div{:id => 'pathInfo'}
            %span{:style => 'height: 1.2em; font-size: 18px;'} Path (click on the text to change):
            %span{:name => 'path', :style => 'height: 1.2em; font-size: 18px; font-weight: bold;'}
        %p
          %input{:id => 'urlInput', :name => 'urlInput', :value => '', :style => 'width: 35em; height: 1.2em; font-size: 18px; font-weight: bold;'}
          %input{:id => 'executeButton', :name => 'execute', :type => 'submit', :value => 'Execute', :style => 'font-size: 18px;'}
        %div{:id => 'requestBodyContainer', :style => 'display: none;'}
          %p
            %strong Request Body
            %textarea{:name => 'requestBody', :style => 'width: 100%; height: 10em; font-family: courier, monotype;'}
      %div{:id => 'results', :style => 'float: left;'}
      %div{:id => 'codeViewPortContainer', :style => 'display: none; right: 10px;'}
      %div{:id => 'disclaimer'}
